. {
    width: 700px;
    height: 700px;
}

body {
    background: -webkit-linear-gradient(180deg, rgb(0, 165, 255), rgb(0, 233, 255));
    background: -moz-linear-gradient(180deg, rgb(0, 165, 255), rgb(0, 233, 255));
    background: linear-gradient(180deg, rgb(0, 165, 255), rgb(0, 233, 255)) fixed;
    padding: 50px;
    padding-right: 90px;
}

#location {
    display: block;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 20px;
    color: white;
    outline: none;
    width: 100%;
    font-size: 30px;
}

#show {
    display: block;
    border: none;
    background: rgba(220, 220, 220, 0.5);
    border-radius: 16px;
    padding: 20px;
    color: whitesmoke;
    outline: none;
    width: 108%;
    font-size: 30px;
    margin-top: 8px;
}

#show:hover {
    display: block;
    border: 1px solid whitesmoke;
    background: rgba(220, 220, 220, 0.5);
    border-radius: 16px;
    padding: 20px;
    color: whitesmoke;
    outline: none;
    width: 108%;
    font-size: 30px;
    margin-top: 7px;
}

#info {
    font-family: helvetica;
    display: block;
    border: none;
    border-radius: 16px;
    padding: 20px;
    color: whitesmoke;
    outline: none;
    font-size: 30px;
    margin-top: 8px;
}